.footer1{
    display:flex;
    justify-content: space-around;
 
    
}
.footer1 div{
    color:white;
    text-align:justify;
}
.elementFooter1{
    background-image:url('../../Assets/logo_bricodeco2.png');
    background-repeat: no-repeat;
    background-size:100% 90%;
    height:200px;
    
    
}
.footer{
    background-color:#28a745; 
    border-top:solid 4px #f60002;
    padding-top:50px;
    margin-top:20px;
    
    

}
.footer2{
    border-top:solid 2px white;
    padding-top:20px;
    color:white;
    
    text-align: center;
    padding-bottom:20px;
}